.advertisement {
  padding: 24px;

  background-color: #ffffff72;
  backdrop-filter: blur(31px);
  border-top: 1px solid #f8e8d4;
  box-sizing: border-box;
}
.advertisement__title {
  max-width: 300px;
  margin: 0 auto;

  font-size: 26 px;
  line-height: 120%;
  text-align: center;
}
.advertisement__text {
  max-width: 300px;
  margin: 16px auto 0;

  line-height: 150%;
}
.advertisement__button {
  margin-top: 20px;
}
@media (min-width: $tablet) {
  .advertisement {
    width: 240px;
    padding: 30px;

    border: none;
  }
}
@media (min-width: $desktop) {
  .advertisement {
    width: 494px;
    padding: 60px;
  }
  .advertisement__title {
    font-size: 56px;
    text-align: left;
  }
  .advertisement__text {
    font-size: 20px;
  }
  .advertisement__button {
    margin-top: 48px;
  }
}
