.button__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;

  background-color: $buttonColor;
  &:hover span,
  &:focus span {
    transform: scale(1.2);

    transition: all 150ms linear;
  }
}
