.info {
  position: relative;
  padding: 24px;
  box-sizing: border-box;

  background-color: #ffffff72;
  backdrop-filter: blur(31px);
  color: $fontColor;
}
.info__name {
  font-size: 20px;
  line-height: 120%;
  font-weight: bold;
}
.info__price {
  margin-top: 8px;

  font-size: 18px;
  line-height: 120%;
  font-weight: bold;
}
.info__link {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 24px;
  right: 24px;

  transition: transform 150ms linear;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}
.info__icon {
  width: 24px;
  height: 24px;
}
@media (min-width: $desktop) {
  .info__name {
    font-size: 28px;
  }
  .info__price {
    font-size: 20px;
  }
}
