 .menu {
  position: absolute;
  right: 6.25%;
  top: 15px;
 }

 .menu__button {
  position: relative;
  display: block;
  @include reset;
  width: 30px;
  height: 25px;

  font-size: 0;

  background-color: inherit;
  border: none;

  &::after, &::before {
    content: "";
    position: absolute;

    width: 30px;
    height: 3px;

    background-color: $buttonColor;
  }
 
 
}

 .nav--close .menu__button {
  &::after {
    top: 0;
    left: 0;

    box-shadow: 0 11px 0 $buttonColor,
                0 22px 0 $buttonColor;
  }
  &::before {
    display: none;
  }
 }
 .nav--open .menu__button {
  &::after {
    top: 11px;
    left: 0;

    transform: rotate(45deg);
  }
  &::before {
    top: 11px;
    left: 0;

    transform: rotate(-45deg);
 }
 }
 