.slider__crumbs-list {
  display: flex;
}
.slider__crumbs-item {
  position: relative;
  width: 27px;
  height: 27px;
  margin-right: 10px;

  font-size: 0;
  border-radius: 50%;
  box-sizing: border-box;

  &:last-child {
    margin-right: 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;

    width: 11px;
    height: 11px;

    background-color: #d8d8d8;
    border-radius: 50%;
  }
  &--active {
    border: 1px solid $buttonColor;
    &::before {
      background-color: $buttonColor;
    }
  }
  &:hover,
  &:focus {
    border: 1px solid $buttonColor;
  }
}
.slider__button {
  @include reset;
  width: 38px;
  height: 38px;

  font-size: 0;

  border-radius: 50%;
  border: 1px solid $buttonColor;
  background-color: transparent;
  outline: none;

  &--previous {
    transform: rotate(180deg);
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 13px;

    width: 12px;
    height: 2px;

    border-radius: 2px;
    background-color: #e89f7180;
  }
  &::after {
    top: 13px;
    transform: rotate(45deg);
  }
  &::before {
    bottom: 13px;
    transform: rotate(-45deg);
  }
  &:hover,
  &:focus {
    background-color: $buttonColor;
  }
  &:hover::after,
  &:hover::before,
  &:focus::after,
  &:focus::before {
    background-color: #ffffff;
  }
  &:active {
    background-color: #e89f7130;
    border-color: #e89f7130;
  }
  &:active::after,
  &:active::before {
    background-color: $buttonColor;
  }
}
