.user__list {
  color: $fontColor;
}
.user__link {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  margin-top: 5px;
  &:hover,
  &:focus {
    border: none;
  }
}
.user__icon {
  width: 24px;
  height: 24px;
  margin-right: 15px;

  fill: $secondColor;
  transition: all 0.2s linear;

  &:hover {
    transform: scale(1.2);
  }
  &--favorites:hover {
    fill: red;
  }
}

@media (min-width: $tablet) {
  .user__list {
    display: flex;

    font-size: 0;
  }
  .user__link {
    margin: 0;
  }
}
@media (min-width: $desktop) {
  .user__list {
    width: 155px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
  }
  .user__icon {
    margin: 0;
    &--user {
      width: 40px;
      height: 40px;
    }
  }
}
