@import "variables";
@import "mixin.scss";
@import "fonts.scss";
@import "normalize.scss";

@import "blocks/buttons.scss";
@import "blocks/main.scss";

@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/nav.scss";
@import "blocks/menu.scss";
@import "blocks/user.scss";

@import "blocks/info.scss";
@import "blocks/advertisement.scss";
@import "blocks/slider.scss";
@import "blocks/slider-buttons.scss";

@import "blocks/advantages.scss";

@import "blocks/products.scss";

@import "blocks/rooms.scss";

@import "blocks/tips.scss";

@import "blocks/furniture.scss";

@import "blocks/footer.scss";
// Made HTML TIPS section.Made styles for the TIPS section for the mobile version
